<h1>Register</h1>
<form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)">
  <label for="inputEmail">Email address</label>
    <input 
      ngModel
      type ="email"
      name = "email"
      id="inputEmail"
      placeholder="Email Address"
      required
      autofocus
    >
  <label for="inputPassword">Email address</label>
    <input
      ngModel
      type = "password"
      name="password"
      id="inputPassword"
      placeholder="Password"
      required
    >

    <button type="submit">Register</button>

</form>